.post-list-container {
  width: auto;
  margin: 1rem auto;
  padding: 0px 1rem;
  font-family: Arial, sans-serif;
}

.post-list-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.post-card {
  background-color: #fff;
  border: 1px solid #e2e8f0;
  border-radius: 10px;
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.2s;
}

.post-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.no-post {
  text-align: center;
  font-size: 1.5rem;
  color: #999;
  margin-top: 2rem;
  font-weight: 500;
}
.post-card p {
  font-size: 1rem;
  color: #444;
  margin-bottom: 1rem;
  text-align: start;
}

.post-actions {
  display: flex;
  gap: 10px;
}

.post-actions button {
  padding: 0.4rem 0.8rem;
  font-size: 0.9rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.post-actions button:hover {
  opacity: 0.85;
}

button:nth-child(1) {
  background-color: #f56565;
  color: white;
}

button:nth-child(2) {
  background-color: #48bb78;
  color: white;
}

button:nth-child(3) {
  background-color: #4299e1;
  color: white;
}
.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  margin-right: 10px;
  object-fit: cover;
  border: 1px solid #ccc;
}

.username {
  font-weight: 600;
  font-size: 1rem;
  color: #2d3748;
}
.username.clickable {
  cursor: pointer;
  color: #1da1f2;
  font-weight: 500;
}

.username.clickable:hover {
  text-decoration: underline;
}
/* Style for liked button */
.post-actions button.liked {
  background-color: #f56565; /* Red color for liked button */
  color: white;
}

/* Style for unliked button */
.post-actions button.unliked {
  background-color: #f3f4f6; /* Light grey color for unliked button */
  color: #2d3748; /* Dark color for unliked */
}

.post-actions button.liked:hover {
  opacity: 0.85;
}

.post-actions button.unliked:hover {
  opacity: 0.85;
}
